<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">

<!-- 사용자 CSS 추가 -->
<th:block layout:fragment="css">
    <style>
        .carousel-inner > .item {
            height: 350px;
        }
        .margin{
            margin-bottom:30px;
        }
        .banner{
            height: 300px;
            position: absolute; top:0; left: 0;
            width: 100%;
            height: 100%;
            border-radius: 5px;
        }
        .card-text{
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }
        a:hover{
            text-decoration:none;
        }
        .center{
            text-align:center;
        }
    </style>
</th:block>

<div layout:fragment="content">


    <!-- 우측 상단 검색 메뉴 -->
    <input type="hidden" name="searchQuery" th:value="${itemSearchDto.searchQuery}">
    <div th:if="${not #strings.isEmpty(itemSearchDto.searchQuery)}" class="center">
        <p class="h3 font-weight-bold" th:text="${itemSearchDto.searchQuery} + '검색 결과'"></p>
    </div>

    <!-- ======= Hero Slider Section ======= -->
    <section id="hero-slider" class="hero-slider">
        <div class="container-md" data-aos="fade-in">
            <div class="row">
                <div class="col-12">
                    <div class="swiper sliderFeaturedPosts">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <a href="single-post.html" class="img-bg d-flex align-items-end" style="background-image: url('../bootstrap/img/main.jpg');">
                                    <div class="img-bg-inner">
                                        <h2>The Best Homemade Masks for Face (keep the Pimples Away)</h2>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem neque est mollitia! Beatae minima assumenda repellat harum vero, officiis ipsam magnam obcaecati cumque maxime inventore repudiandae quidem necessitatibus rem atque.</p>
                                    </div>
                                </a>
                            </div>

                            <div class="swiper-slide">
                                <a href="single-post.html" class="img-bg d-flex align-items-end" style="background-image: url('../bootstrap/img/main2.jpg');">
                                    <div class="img-bg-inner">
                                        <h2>17 Pictures of Medium Length Hair in Layers That Will Inspire Your New Haircut</h2>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem neque est mollitia! Beatae minima assumenda repellat harum vero, officiis ipsam magnam obcaecati cumque maxime inventore repudiandae quidem necessitatibus rem atque.</p>
                                    </div>
                                </a>
                            </div>

                            <div class="swiper-slide">
                                <a href="single-post.html" class="img-bg d-flex align-items-end" style="background-image: url('../bootstrap/img/main3.jpg');">
                                    <div class="img-bg-inner">
                                        <h2>13 Amazing Poems from Shel Silverstein with Valuable Life Lessons</h2>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem neque est mollitia! Beatae minima assumenda repellat harum vero, officiis ipsam magnam obcaecati cumque maxime inventore repudiandae quidem necessitatibus rem atque.</p>
                                    </div>
                                </a>
                            </div>

                            <div class="swiper-slide">
                                <a href="single-post.html" class="img-bg d-flex align-items-end" style="background-image: url('../bootstrap/img/main4.jpg');">
                                    <div class="img-bg-inner">
                                        <h2>9 Half-up/half-down Hairstyles for Long and Medium Hair</h2>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem neque est mollitia! Beatae minima assumenda repellat harum vero, officiis ipsam magnam obcaecati cumque maxime inventore repudiandae quidem necessitatibus rem atque.</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="custom-swiper-button-next">
                            <span class="bi-chevron-right"></span>
                        </div>
                        <div class="custom-swiper-button-prev">
                            <span class="bi-chevron-left"></span>
                        </div>

                        <div class="swiper-pagination"></div>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- End Hero Slider Section -->


    <!-- ======= Culture Category Section ======= -->
    <section class="category-section">
        <div class="container" data-aos="fade-up">

            <div class="section-header d-flex justify-content-between align-items-center mb-5">
                <h2>Post</h2>
                <div><a th:href="@{#}" class="more">See All Post</a></div>
            </div>

            <div class="row">

                <div class="col-md-9">
                    <th:block th:each="board, status: ${boards.getContent()}">
                        <div class="d-lg-flex post-entry-1">
                            <a th:href="'/board/' +${board.id}" class="me-4 thumbnail mb-4 mb-lg-0 d-inline-block">
                                <img th:src="${board.imgUrl}" th:alt="${board.title}" class="img-fluid">
                            </a>
                            <div>
                                <div class="post-meta"><span class="date">Post</span> <span class="mx-1">&bullet;</span> <span>[[${board.regTime}]]</span></div>
                                <h3><a th:href="'/board/' +${board.id}">[[${board.title}]]</a></h3>
                                <p>[[${board.content}]]</p>
                                <div class="d-flex align-items-center author">
                                    <div class="photo"><img src="../bootstrap/img/blog1.jpg" alt="" class="img-fluid"></div>
                                    <div class="name">
                                        <h3 class="m-0 p-0">[[${board.createdBy}]]</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </th:block>
                </div>
            </div>
        </div>
    </section><!-- End Culture Category Section -->


    <!-- ======= Post Grid Section ======= -->
    <section id="posts" class="posts">
        <div class="container" data-aos="fade-up">
            <div class="row g-5">
                <th:block th:each="item, status: ${items.getContent()}">
                    <div class="col-lg-5">
                        <div class="post-entry-1 lg">
                            <a th:href="'/item/' +${item.id}"><img th:src="${item.imgUrl}" th:alt="${item.itemNm}" class="img-fluid"></a>
                            <div class="post-meta"><span class="date">Product</span> <span class="mx-1">&bullet;</span> <span>[[${item.updateTime}]]</span></div>
                            <h2><a th:href="'/item/' +${item.id}">[[${item.itemNm}]]</a></h2>
                            <p class="mb-4 d-block">[[${item.itemDetail}]]</p>
                            <h3>[[${item.price}]]원</h3>

                            <div class="d-flex align-items-center author">
                                <div class="photo"><img src="../bootstrap/img/sell1.jpg" alt="" class="img-fluid"></div>
                                <div class="name">
                                    <h3 class="m-0 p-0">[[${item.createdBy}]]</h3>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="col-lg-7">
                        <div class="row g-5">
                            <div class="col-lg-4 border-start custom-border">

                                <th:block th:each="boardDto : ${boardList}">
                                    <div class="post-entry-1">
                                        <a th:href="'/board/' +${boardDto.id}"><img th:src="${boardDto.imgUrl}" alt="" class="img-fluid"></a>
                                        <div class="post-meta"><span class="date">Post</span> <span class="mx-1">&bullet;</span> <span>[[${#temporals.format(boardDto.regTime, 'yy-MM-dd')}]]</span></div>
                                        <h2><a th:href="'/board/' +${boardDto.id}">[[${boardDto.title}]]</a></h2>
                                        <p>[[${boardDto.content}]]</p>
                                    </div>
                                </th:block>
                            </div>

                            <div class="col-lg-4 border-start custom-border">
                                <th:block th:each="boardDto : ${boardList}">
                                    <div class="post-entry-1">
                                        <a th:href="'/board/' +${boardDto.id}"><img th:src="${boardDto.imgUrl}" alt="" class="img-fluid"></a>
                                        <div class="post-meta"><span class="date">Post</span> <span class="mx-1">&bullet;</span> <span>[[${#temporals.format(boardDto.regTime, 'yy-MM-dd')}]]</span></div>
                                        <h2><a th:href="'/board/' +${boardDto.id}">[[${boardDto.title}]]</a></h2>
                                        <p>[[${boardDto.content}]]</p>
                                    </div>
                                </th:block>
                            </div>


                        </div>
                    </div>
                </th:block>
            </div> <!-- End .row -->
        </div>
    </section> <!-- End Post Grid Section -->


</div>